html, body{
	margin: 0;
	padding: 0;
}

canvas{
	background: black;
}

.btn{
	display: inline-block;
	padding: 10px;
	margin: 10px;
	background: black;
	color: white;
	cursor: pointer;
}

.btn:hover{
	color: yellow;
	background: rgb(76, 71, 71);
}
